<!-- Ecran pour une tache -->

<input id="title" type="text" ng-model="title" size="30" placeholder="Titre de la todo" ng-keyup="$broadcast('todo:keyup', $event)">
<textarea id="description" ng-model="description" cols="30" rows="10" placeholder="Description" ng-keyup="$broadcast('todo:keyup', $event)"></textarea>
<!-- On affiche un bouton différent en fonction de l'url de la page -->
<button ng-click="addNewTodo(title, description)" ng-if="state==='new'"> Ajouter</button>
<button ng-click="editTodo(title, description)" ng-if="state!=='new'"> Enregistrer</button>

<a href="#/"> Acceuil</a>